body {
    margin: 0;
    background-color: black;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    z-index: -1;
}

canvas:not(#main) {
    image-rendering: pixelated;
    margin: 0 0.5px;
    margin-top: 100px;
    width: 10%;
    position: relative;
}

#fullscreen {
    position: fixed;
    right: 2.5px;
    top: 2.5px;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    z-index: -2;
    cursor: pointer;
}